/*disable text selection*/
body
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


#help, #defaultTextBis, #console{
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  user-select: text;

}


#text-mask{
    /*position:relative;*/
    padding-left: 20px;
    position:absolute;
    top:42%;
}


/*Images position*/

#img-loading {

/*margin-top: 30px;*/
    position:absolute;
    top:31%;
}

#img-console {
margin-top: -11px;
margin-left: 1px;
}

#img-scenes {
position: relative;
top: 2px;
}

#img-animation {
position: relative;
top: 4px;
}

#img-cameras {
position: relative;
top: 4px;
}

#img-engine {
position: relative;
top: 5px;
}

#img-sound {
position: relative;
top: 4px;
}

#img-particles {
position: relative;
top: 3px;
right:2px;
}

#img-help {
position: relative;
top: 4px;
}

#img-settings {
position: relative;
top: 2px;
}

#img-welcome {
position: relative;
top: 4px;
}


#img-settings1 {

}


#img-fullscreen {
position: relative;
bottom: 5px;
}

#img-render {
position: relative;
top: 3px;
}


#img-tab {
position: relative;
top: 3px;
}


#quitPanel > span {
margin-bottom: 40px !important;
}

#img-quit {
position: relative;
top: 15px;
}

#ui-icon-triangle-1-s {
position: relative;
top: 2px;
}

#img-lightTab{
position: relative;
top: 3px;
}


#img-example {
position: fixed;
left: 10%;
top: 10%;
}

#img-themes{
position: relative;
top: 3px;
}

#img-soundTab{
position: relative;
top: 3px;
}

#buttonLayout-console-button {
display: none;
}


.ui-widget {
font-size: 11px!important;
}

#object-console-0 .ui-accordion-content {
padding: 0 !important;
}

#content-accordion {
height: 55px !important;
}

#defaultText {
font-family: "Comic Sans MS", cursive, sans-serif !important;
font-size: 70% !important;
position: absolute !important;
left: 20px !important;
bottom: 5px !important;
}

#defaultTextBis {
font-family: "Comic Sans MS", cursive, sans-serif !important;
font-size: 70% !important;
position: absolute !important;
top: 2px !important;
}

div.ui-dialog-content.ui-widget-content{
height:1500px;  
}

#auteur {
font-family: "Comic Sans MS", cursive, sans-serif !important;
font-size: 70% !important;
/*color: white !important;*/
margin: -1px 5px 0 0 !important;
float: right !important;
border-left: 2px ridge !important;
padding: 5px !important;
}

.ui-widget-content {
border: 0 !important;
}

.ui-tabs .ui-tabs-panel {
padding: 0;
}

.ui-widget-overlay{
height: "auto !important";  
}



.ui-layout-content {
overflow: auto;
/* add scrolling to content-divs (panel-wrappers) */
border-top: 0 !important;
/* tab-buttons above this DIV already has a border-bottom */;
}

.ui-slider {
margin: 5 5 5 5;
}

/* background: url(/gui/img/resizable-w.gif) repeat-y center;
*  TAB-THEME ADJUSTMENTS
*/
.ui-tabs-nav li {
white-space: nowrap;
}

.ui-tabs-nav li a {
font-size: 1em !important;
padding: 4px 1.5ex 3px !important;
}

.ui-tabs-panel {
font-size: 1em !important;
/*padding:      0 1em !important; -- this moves content to the right */;
}

.ui-layout-pane {
padding: 0;
overflow: hidden;
border-width: 0;
}

.ui-layout-pane .ui-tabs-nav {
/* don"t need border or rounded corners - tabs "fill" the pane */
border-top: 0;
border-left: 0;
border-right: 0;
padding-bottom: 0 !important;
-moz-border-radius: 0;
-webkit-border-radius: 0;
}
/*
*  WEST-PANE TABS
*
*  These tabs 'fill' the pane,
*  so the pane-border acts as the tab-border
*/


.ui-layout-center {
border-radius: 0 0 0 0 !important;
}


#buttonLayout{
float:right;

}

.ui-dialog{
border: 1px solid !important;


}  

/* console */

#title_console{
font-size: 14px !important;
position:absolute !important;
top:3px !important;
left: 25px !important; 
} 

#icon-toolConsole{
border-right: 1px solid !important;
}

#mode_console{
font-size: 14px;
position:absolute;
top:3px;
left: 85px;
} 

#content-console{
border-top: 1px solid !important;
height:79%;
width:100%;  
float: left;
font-size: 12px;}

/*#layout-console{ 
height:88%;
width:580px !important;
overflow:auto !important;
overflow-x:hidden !important;}*/

#time {
float:left; } 
       
#console{ 
pointer-events:auto;
height: 85%;
/*box-shadow: 5px 5px 2px #888888 !important;*/
overflow:auto;
font-size: 11px !important;
/*overflow:visible;
pointer-events:auto;
width:600px!important;
border-radius: 0 15px 0 0 !important;
border-right: 1px solid !important;
border-top: 1px solid !important;*/
}

#blocConsole1 {
float: left; 
}

#blocConsole2 {
display:block;
overflow:hidden;
}

.button-warn{
    background: yellow !important;
}

.button-debug{
    background: white !important;
}

.button-error{
    background: red !important;
}

.button-log{
    background: blue !important;
}

/* MENU */ 

.ui-menu { 
    overflow: hidden;
    font-weight:bold !important;
}

.ui-menu a, #mainLayout-south { 
font-weight:bold !important;    /*font-size: :;*/
}

.ui-menu ul li ul {
    width:auto;
    display:block;  
    overflow: hidden !important;
    margin-top: 2px !important;
    margin-bottom: 2px  !important;

}

.ui-menu ul li ul div{
    overflow-y: auto !important;
    overflow-x: hidden !important;
    padding:2px 2px !important;
    line-height:10px !important;
}

.ui-menu ul li ul div li{
    padding-right: 10px !important;
}

.ui-menu .ui-menu{
    overflow: visible;
}
.ui-menu > li { 
    float: left;
    display: block;
    width: auto !important;
}
.ui-menu ul li {
    display:block;
    float:none;
}

#collada .ui-button, #glTF .ui-button{
    line-height: 1.3 !important;
    display: inline !important;
    padding-right: 0px !important;
}

/*.ui-menu ul li ul {
    position: absolute;
    left: 70px;
    top: 30px;
}*/
/*.ui-menu ul li ul li a {
    float:left;
}*/
.ui-menu > li {
    margin: 5px 5px !important;
    padding: 0 0 !important;
}
.ui-menu > li > a { 
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}

.ui-menu > li > a > span{
    position: relative !important;
    top: 3px !important;
}

.ui-menu ul li a span{
    position: relative !important;
    top: 1px !important;
}


.ui-menu .ui-menu .ui-menu li { 
    float: left;
    display: block;
}

/*.head-menu > li:nth-last-child(-n+3){
    float: right !important;
}
*/

.disable {
pointer-events: none;
cursor: default;
}

.disable a, .disablehide a{
color: #cccccc !important;
}

.disable a span, .disablehide a span{
display: none;
}

.disablehide {
    opacity: 0.4 !important;
    pointer-events: none;
    cursor: default;
}

.ui-menu ul li ul li {
    width:auto;
}

/*display: block !important;*/
/*float: left !important;*/

.ui-menu ul li { 
display: table-row-group!important;
}

.ui-layout-resizer.ui-layout-resizer-south.ui-layout-resizer-open.ui-layout-resizer-south-open{
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
}

.radio_contain {
    display: inline-block;
    border-radius: 100px !important;
    overflow: hidden;    
    padding: 0;
    }
.radio_contain input[type="radio"] {
  display: block;
  margin: 0;
}

.checkbox input{
    position: relative !important;
    top: 2px !important;
}

/*ADAPTATION CSS THEME JQUERY UI*/
#menu{
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-radius: 0px !important;
    z-index: 999 !important;
}
#mainLayout-south{
    border-top-width: 1px !important;
    border-top-style: solid !important;
}

/*.ui-widget-header{
    border-bottom: none;
}*/

.ui-menu ul li ul, .ui-menu ul {
    border-right-width: 1px !important;
    border-right-style: solid !important;
    border-left-width: 1px !important;
    border-left-style: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;

}

.ui-menu ul li a span{
    position: relative !important;
    bottom: 4px !important;
}

label[for="buttonLayout-"]{
   float: right;
   bottom:1px;
}

#mainLayout-south{
    z-index:999 !important;
}

.ui-accordion-content{
border-left:1px solid !important;
border-right:1px solid !important;
border-bottom:1px solid !important;
padding-left: 5px !important;
padding-right: 5px !important;
}

#themes ul{
    height: auto !important;
}
#themes ul li{
    width: 100% !important;
    float: right !important;
}

#soundSubsystem-menu{
    width: 220% !important;
}

#fullscreen > a {
    position: relative;
    bottom: -1px;
    height:20px !important;
    width:20px !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 0px !important;}

#fullscreen > a > span{
    margin-right: 4px !important;
}

#img-script {
position: relative;
top: 2px;
}

#script {
    padding: 2px 2px 2px 2px !important;
}

.ui-layout-resizer-west {
    cursor: w-resize !important;
}

#menu-render {
    width: 100% !important;
}

#traffic-light {
    float:right !important;
}

.select-skinned ul{
    width: 99% !important;
    min-height: 35px !important;
    height: auto !important;
    z-index: 999 !important;
}

.fileButton {
    margin-left: 2px;
    margin-bottom: 3px;
}

#searchHelp{
    position:absolute;
    top:1px;
    right:40px;
}

.highlight { background-color: #CCCCCC}

.highlighthigh { background-color: yellow !important}

#closeTab, #menuTab{
    float:right !important;
    width:15px;
    height:15px;
    }
#closeTab{
    margin-top:-2px;
}
#menuTab{
    margin-top:12px;
    margin-right:-15px;
}

#closeTab span, #menuTab span{
    position: relative;
    bottom: 2px;
    right: 2px;
    }

.ui-state-disabled {
display: none !important; /* disabled tabs don't show up */
}

#tabManager {
position:fixed;
top:70px;
right:2px;
padding: 2px 2px 2px 2px;
 
}

#tabManager li span{
    font-size: 10px !important;
    }

/*#menu li a span{
    margin-bottom: 2px !important;
}*/
#help{
    padding: 0;
}

#selectId{
    position:relative !important;
     bottom: 2px!important;
}

#helpTab_header{
    border-radius: 0px !important;
}

/*#extHelpFrame{
    color: black !important;
}*/

#themes ul li a{
    width:90% !important;
}

#soundSystems ul{
    width: 300px !important;
}

#soundList ul{
    width: 200px !important;
}

#saveScript, #helpScript{
    margin-left: 20px !important;
}

.btn-upload{
    display: inline-block;
    text-align: center !important;
    vertical-align:middle !important;
}
.btn-upload button span{
    text-align: center !important;
}

.btn-upload button{
    width: 100% !important;
    text-align: center !important;
    padding: 0 0 0 0 !important;
}

.separator{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

#collada, #upload{
    width: herit !important;
}

#theme-menu{
    overflow: auto !important;
}

#selector{
    background-color: white !important;
}

#jstree a{
color: inherit !important;}

#treeViewDiv a{
    color: #000!important;
}

.yasuo{
   position: absolute;
top: 4px !important;
right: 0px !important;
    background-color: white !important;
}

#settings-menu{
    width: 165px !important;
}

#theme-menu{
    width: 100px !important;
}

#fullCanvas{
    position: absolute;
bottom: 0px !important;
right: 0px !important;
    z-index: 9999 !important;

/*    position: relative !important;
    float: right !important;*/
}

#imageCanvas{
    position: absolute;
    bottom: 0px !important;
    right: 34px !important;
    z-index: 9999 !important; 
}

#submitSearch {
    position: static;
    top: 0;
    right:0;
}

#fileArea_upModel button span{
    margin-left: 32% !important;
}

#settings ul li a {
width: 90% !important;
}

#vakata-contextmenu{
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif !important;
    font-size: 11px !important;
}

.draggableWelcome{
    height: 20%;
    border-radius: 5px;
    background: grey;
}

#script form{
    height: 70%;
    box-shadow: 5px 5px 2px #888888 !important;
}


#scenes, #Upload, #collada_header, #collada, #gltf_header, #gltf{
  box-shadow: 5px 5px 2px #888888 !important;
}

#mainLayout-north > ul >li>a{
/*    box-shadow: 5px 5px 2px #888888 !important;*/
   border: 1px solid !important;
 }

 #mainLayout-north > ul >li>a:hover{
    box-shadow: 5px 5px 2px #888888 !important;
/*   border: 1px solid !important;*/
 }

 #img-emptybox, #img-emptyboxScenes{
    position: relative;
    left: 42%;
 }

 .ui-layout-resizer.ui-layout-resizer-south.ui-layout-resizer-open.ui-layout-resizer-south-open{
    display:none;
 }

#normal-button-bottom{
    float:right !important;
}
.tool-items{
    z-index:999 !important;
}

.vakata-context { 
 z-index:999999 !important; 
 font-size: 9px!important;
 font-weight: bold;
} 
#tmp{
    width:100%;
}

#viewer{
    padding: 0;
    top:100%;
}

#mainLayout-north{
    z-index: 99999!important;
}

.ui-focus{
    background-color: : yellow !important;

}
