#img-loading {
margin-top: 15px;
}

#img-console {
margin-top: -12px;
}

#img-scenes {
position: relative;
top: 3px;
}

#img-animation {
position: relative;
top: 5px;
}

#img-cameras {
position: relative;
top: 7px;
}

#img-help {
position: relative;
top: 4px;
}

#img-render {
position: relative;
top: 3px;
}

#quitPanel > span {
margin-bottom: 40px !important;
}

#img-quit {
position: relative;
top: 15px;
}

#ui-icon-triangle-1-s {
position: relative;
top: 2px;
}

#img-example {
position: fixed;
left: 10%;
top: 10%;
}

#mainPanel {
}

#buttonLayout-console-button {
display: none;
}

#south-panel > label {
float: right;
margin-right: 10px;
}

.ui-widget {
font-size: 11px!important;
}

#object-console-0 .ui-accordion-content {
padding: 0 !important;
}

.ui-resize-me {
background-color: black !important;
}

#content-accordion {
height: 55px !important;
}

#defaultText {
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 70%;
position: absolute;
left: 20px;
bottom: 4px;
}

div.ui-dialog-content.ui-widget-content{
height:1500px;	
}

#auteur {
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 70%;
margin: -1px 5px 0 0;
float: right;
border-left: 2px ridge #CCCCCC;
padding: 5px;
}

.ui-widget {
font-size: 10px;
}

.ui-widget-content {
border: 0 !important;
}

.ui-resizable-helper {
border: 2px dotted #00F;
}

.ui-tabs .ui-tabs-panel {
padding: 0;
}

.ui-widget-overlay{
height: "auto !important";	
}



.ui-layout-content {
overflow: auto;
/* add scrolling to content-divs (panel-wrappers) */
border-top: 0 !important;
/* tab-buttons above this DIV already has a border-bottom */;
}

.ui-slider {
margin: 5 5 5 5;
background: white !important;
}

.ui-layout-resizer-west {
background: url(img/resizable-w.gif) repeat-y center !important;
}

/* background: url(/gui/img/resizable-w.gif) repeat-y center;
*  TAB-THEME ADJUSTMENTS
*/
.ui-tabs-nav li {
white-space: nowrap;
}

.ui-tabs-nav li a {
font-size: 1em !important;
padding: 4px 1.5ex 3px !important;
}

.ui-tabs-panel {
font-size: 1em !important;
/*padding:      0 1em !important; -- this moves content to the right */;
}
/*
*  WEST-PANE TABS
*
*  These tabs 'fill' the pane,
*  so the pane-border acts as the tab-border
*/

.ui-layout-pane {
padding: 0;
overflow: hidden;
border-width: 0;
}

.ui-layout-pane .ui-tabs-nav {
/* don"t need border or rounded corners - tabs "fill" the pane */
border-top: 0;
border-left: 0;
border-right: 0;
padding-bottom: 0 !important;
-moz-border-radius: 0;
-webkit-border-radius: 0;
}
.ui-layout-north {
z-index : 9 !important;
overflow:visible !important;
border-style:solid !important;
border-bottom-width:1px !important;
background: #918a8a;
}

.ui-layout-center {
border-radius: 0 0 0 0 !important;
}


#buttonLayout{
float:right;

}

#south-panel {
border-top: 1px solid #0fa1e0 !important;
background: #141414;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALElEQVQImWMwMrJi+v//PxMDw3+m//8ZoPR/qBgDEhuXGLoeYswhXg8R5gAAdVpfoJ3dB5oAAAAASUVORK5CYII=) 100% 100% !important;
background: -moz-linear-gradient(top, #32323a 0%, #141414 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414)) !important;
background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%) !important;
background: -o-linear-gradient(top, #32323a 0%, #141414 100%) !important;
background: -ms-linear-gradient(top, #32323a 0%, #141414 100%) !important;
background: linear-gradient(to bottom, #32323a 0%, #141414 100%) !important;

}

.ui-layout-west{  /*#565959*/
background: #565959 !important;
}

.ui-dialog{
border: 1px solid #0fa1e0 !important;


}  

.ui-widget.ui-state-active{
background: #cccccc !important;



}

/* console */

#title_console{
font-size: 14px;
position:absolute;
top:5px;
left: 25px; 

} 

#icon-toolConsole{

border-right: 1px solid #0fa1e0 !important;
}

#mode_console{
font-size: 14px;
position:absolute;
top:5px;
left: 82px;
} 



#content-console{
border-top: 1px solid #0fa1e0 !important;
height:79%;
width:100%;  
background: black !important;
overflow:auto;
float: left;
font-size: 12px;}

#layout-console{ 
height:79%;
width:100%;}

#time {
float:left; } 
       
#console{ 
background: black !important;
overflow:visible;
width:500px!important;
border-radius: 0 15px 0 0 !important;
border-right: 1px solid #0fa1e0 !important;
border-top: 1px solid #0fa1e0 !important;

}


#blocConsole1 {
float: left; 
}

#blocConsole2 {
display:block;
overflow:hidden;
}

.txt-debug{border-left: 3px solid white !important;} 

.txt-error{border-left: 3px solid red !important;}

.txt-warning{border-left: 3px solid yellow !important;}

.txt-log{border-left: 3px solid #0fa1e0 !important;}


/* MENU */
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
margin: 0;
padding: 0;
position: relative;
}
#cssmenu {
height: 30px;
border-radius: 0px 0px 0 0;
-moz-border-radius: 0px 0px 0 0;
-webkit-border-radius: 0px 0px 0 0;
background: #141414;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALElEQVQImWMwMrJi+v//PxMDw3+m//8ZoPR/qBgDEhuXGLoeYswhXg8R5gAAdVpfoJ3dB5oAAAAASUVORK5CYII=) 100% 100%; 
background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
border-bottom: 2px solid #0fa1e0;
}
#cssmenu:after,
#cssmenu ul:after {
content: '';
display: block;
clear: both;
}
#cssmenu a {
background: #141414;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALElEQVQImWMwMrJi+v//PxMDw3+m//8ZoPR/qBgDEhuXGLoeYswhXg8R5gAAdVpfoJ3dB5oAAAAASUVORK5CYII=) 100% 100%; 
background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
color: #ffffff;
display: inline-block;
font-family: Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
line-height: 30px;
padding: 0 20px;
text-decoration: none;
}
#cssmenu ul {
list-style: none;
}
#cssmenu > ul {
float: left;
}
#cssmenu > ul > li {
float: left;
}
#cssmenu > ul > li:hover:after {
content: '';
display: block;
width: 0;
height: 0;
position: absolute;
left: 50%;
bottom: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #0fa1e0;
margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
border-radius: 5px 0 0 0;
-moz-border-radius: 5px 0 0 0;
-webkit-border-radius: 5px 0 0 0;
}
#cssmenu > ul > li:last-child > a {
border-radius: 0 5px 0 0;
-moz-border-radius: 0 5px 0 0;
-webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active a {
box-shadow: inset 0 0 3px #000000;
-moz-box-shadow: inset 0 0 3px #000000;
-webkit-box-shadow: inset 0 0 3px #000000;
background: #070707;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%; 
background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
}
#cssmenu > ul > li:hover > a {
background: #070707;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%; 
background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
box-shadow: inset 0 0 3px #000000;
-moz-box-shadow: inset 0 0 3px #000000;
-webkit-box-shadow: inset 0 0 3px #000000;
}
#cssmenu .has-sub {
z-index: 1;
}
#cssmenu .has-sub:hover > ul {
display: block;
}
#cssmenu .has-sub ul {
display: none;
position: absolute;
width: 200px;
top: 100%;
left: 0;
}
#cssmenu .has-sub ul li {
*margin-bottom: -1px;
}
#cssmenu .has-sub ul li a{
background: #0fa1e0;
border-bottom: 1px dotted #6fc7ec;
filter: none;
font-size: 11px;
display: block;
line-height: 100%;
padding: 10px;
}
#cssmenu .has-sub ul li:hover a{
background: #0c7fb0;
}
#cssmenu .has-sub .has-sub:hover > ul {
display: block;
}
#cssmenu .has-sub .has-sub ul {
display: none;
position: absolute;
left: 100%;
top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
background: #0c7fb0;
border-bottom: 1px dotted #6db2d0;
}
#cssmenu .has-sub .has-sub ul li a:hover {
background: #095c80;
}

#z0_1_5, #z0_3_2   {
background: #0fa1e0;
border-bottom: 1px dotted #6fc7ec;
filter: none;
font-size: 11px;
display: block;
line-height: 100% ;
padding: 5px 0px 5px 5px !important;
font-family: Helvetica, Arial, Verdana, sans-serif !important;
font-size: 11px !important;
color: #ffffff !important;
}  

#z0_2_3 li{
background: #0c7fb0;
border-bottom: 1px dotted #6db2d0;
display: block;
line-height: 100% ;
padding: 5px 0px 5px 5px !important;
font-family: Helvetica, Arial, Verdana, sans-serif !important;
font-size: 11px !important;
color: #ffffff !important;


} 

#cssmenu > ul > li > a > span.ui-icon{
margin-top: 6px !important;

}

#z0_1 {z-index: 999 !important;}

#z0_4 { position: fixed !important; right:0px; }	

.disable {
pointer-events: none;
cursor: default;
}

.disable a span:first-child{
color: #cccccc;
}

.disable a span:nth-child(2){
display: none;
}